---
import ServicesCard from "../ui/ServicesCard.astro";
import Ux from "../../../public/ux.svg";
import WebDev from "../../../public/webDev.svg";
import Marketing from "../../../public/marketing.svg";
import GraphicDesign from "../../../public/graphicDesign.svg";
import map from "../../../public/map.png";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article class="general-container" id="services-card">
  <h1 class="sweepToTop">{title}</h1>
  <br class="display-only-mobile" />
  <br class="display-only-mobile" />
  <br class="display-only-mobile" />
  <br class="display-only-mobile" />
  <div class="services-card-container">
    <div id="services-card-1" class="card">
      <ServicesCard
        description="Crafting user-centric interfaces, our UX/UI design team collaborates closely with marketing experts to elevate your brand, ensuring that every interaction leaves a lasting impression."
        servicesTitle="UI & UX Design"
        svg={Ux}
      />
    </div>
    <div id="services-card-2" class="card">
      <ServicesCard
        description="Elevate your online presence with our expert Web Development. We specialize in seamless websites, robust systems, and custom marketing solutions. Trust us to bring your vision to life."
        servicesTitle="Web Development"
        svg={WebDev}
      />
    </div>
    <div id="services-card-3" class="card">
      <ServicesCard
        description="Elevate your brand with our Digital Marketing expertise. From strategic campaigns to data-driven insights, we drive online success. Trust us to boost your digital presence effectively."
        servicesTitle="Digital Marketing"
        svg={Marketing}
      />
    </div>
    <div id="services-card-4" class="card">
      <ServicesCard
        description="Transform your brand with our skilled Branding & Graphic Design. Our creative solutions bring your vision to life, leaving a lasting impression. Trust us for a standout visual identity."
        servicesTitle="Branding & Graphic Design"
        svg={GraphicDesign}
      />
    </div>
  </div>
</article>

<style>
  .sweepToTop {
    /*    @media screen and (max-width: 768px) {
      display: none;
    } */
  }

  .display-only-mobile {
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  .general-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .services-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    height: 80%;
    gap: 3rem;
    align-items: start;
    align-content: space-around;
    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  h1 {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  @keyframes bounce-in-left {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    60% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes bounce-in-right {
    0% {
      transform: translateX(20px);
      opacity: 0;
    }
    60% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .bounce-in-left {
    animation: bounce-in-left 1s forwards;
  }
  .bounce-in-right {
    animation: bounce-in-right 1s forwards;
  }
</style>

<script>
  import {
    animateOnScroll,
    elementAnimateOnScroll,
  } from "../../helpers/animation";
  elementAnimateOnScroll("#services-card-1", "bounce-in-left");
  elementAnimateOnScroll("#services-card-2", "bounce-in-right");
  elementAnimateOnScroll("#services-card-3", "bounce-in-left");
  elementAnimateOnScroll("#services-card-4", "bounce-in-right");
</script>
