---
import { changeLanguage } from "i18next";
import Header from "../../components/widgets/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Loader from "../../components/ui/Loader.astro";
import en from "../../../public/locales/en/translation.json";

interface Props {
  github: string;
  deploy: string;
}

let iframeSrc = "";
let t;

const currentPath = Astro.url.pathname;
let deploy = "";

let github = "";
switch (currentPath) {
  case "/portfolio/Real%20Cover":
    github = "https://github.com/iairkap/realcover";
    deploy = "https://realcover-iairkap.vercel.app/";
    t = en.Portfolio.RealCover;
    break;
  case "/portfolio/Resi-Lense":
    iframeSrc = "https://resilense.com/";
    t = en.Portfolio.Reslience;
    break;
  case "/portfolio/Talent%20Tech%20Hub":
    iframeSrc =
      "https://tech-talent-hub-actual-git-develop-equipo3henry.vercel.app/";
    t = en.Portfolio.TalentTech;
    break;
}

let descriptionLines = t?.Description.split("\n");
---

<Layout title="portfolio">
  <article style={{ marginTop: "-6rem" }}>
    <div
      style={{
        margin: "-2rem",
        padding: "3rem",
      }}
    >
      <div
        style={{
          display: "flex",
          flexDirection: "row",
          alignItems: "center",
          gap: "2rem",
        }}
      >
        <a href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="66"
            height="62"
            viewBox="0 0 66 62"
            fill="none"
          >
            <path
              d="M30.9375 55.75L6.1875 31L30.9375 6.25M9.625 31H59.8125"
              stroke="white"
              stroke-width="12"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </a>

        <h4 style={{ fontSize: "4rem" }}>{t?.title}</h4>
      </div>
      <div class="generalContainer">
        <div class="oneThird">
          <div class="videoContainer">
            <video
              autoplay
              loop
              muted
              width="90%"
              style={{ borderRadius: "16px" }}
            >
              <source
                src="https://res.cloudinary.com/dna02aqp4/video/upload/v1706103662/demo_qt2fms.mp4"
                type="video/mp4"
              />
              Your browser does not support the video tag.
            </video>
          </div>
          <h4>Tech Used:</h4>
          <div class="techUsed">
            {t?.tech.map((techItem) => <span>{techItem}</span>)}
          </div>
        </div>
        <div class="twoThird">
          <h2 class="project">Project Description:</h2>
          <div class="text-container">
            {
              descriptionLines?.map((line) => {
                let parts = line.split("\b");
                return (
                  <p style={{ fontWeight: 700 }}>
                    {parts.map((part, index) => {
                      if (index % 2 === 0) {
                        return part;
                      } else {
                        return <span class="highlight">{part}</span>;
                      }
                    })}
                  </p>
                );
              })
            }
            <div style={{ display: "flex", flexDirection: "row", gap: "2rem" }}>
              <a href={github} target="_blank">
                <p class="highlight">Github</p>
              </a>
              <a href={deploy} target="_blank">
                <p class="highlight">Link</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</Layout>

<style>
  .generalContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
  }
  .highlight {
    color: #3a1fff;
    font-weight: 700;
  }

  article {
    color: white;
    width: 100vw;
    height: 100vh;
  }

  .title {
    align-self: center;
    font-size: 5rem;
    margin: none !important;
    padding: none !important;
  }

  .project {
    font-size: 2rem;
  }
  svg path {
    stroke: white;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1);
  }
  svg :hover {
    stroke: #3a1fff;
    transform: scale(1.05);
  }
  .techUsed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 20px;
  }
  h1 {
    margin: none !important;

    padding: none !important;
    margin-block-start: none !important;
  }
  h4 {
    font-size: 24px;
  }
  .oneThird {
  }
  .twoThird {
  }

  .videoContainer {
    width: 100%; /* Cambiado de 64rem a 100% para que el video ocupe todo el ancho disponible */
    height: auto; /* Cambiado de 36rem a auto para mantener la relación de aspecto del video */
    border-radius: 16px;
  }

  .text-container {
    width: 90%;
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    .generalContainer {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 1336px) {
    p {
      font-size: 1rem;
    }
  }

  a {
    text-decoration: none;
  }
</style>

""

