---
import StarsContainer from "./StarsContainer.astro";
import RealCoverPic from "../../realcoverpic.jpeg";
import { Image } from "astro:assets";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

interface Props {
  name: string;
  review: string;
  compnayName: string;
  picture?: string;
}
let currentLanguage = i18next.language;

const { name, review, compnayName, picture } = Astro.props;
---

<article style={{ direction: currentLanguage === "he" ? "rtl" : "ltr" }}>
  <div class={`container ${currentLanguage === "he" ? "he" : "en"}`}>
    <div class="izq">
      <div class="image-container">
        {
          (name === "Fabian Feldman" || name === "פביאן פלדמן") && (
            <img src={picture} alt="Real Cover Pic" />
          )
        }
        {
          (name === "Natalia Malvicino"||name ==="נטליה מלביצ'ינו") && (
            <img src={picture} alt="Talent Tech" />
          )
        }
        {(name === "Nira Kaplansky"||name ==="נירה קפלנסקי") && <img src={picture} alt="Talent Tech" />}
      </div>
    </div>
    <div class="der">
      <div class="starsContainer">
        <StarsContainer /> 5.0
      </div>
      <p>{review}</p>
      <h2>
        {name}, <span>
          {compnayName}
        </span>
      </h2>
    </div>
  </div>
</article>

<style>
  .container {
    content: "";
    position: absolute;
    background: #1b1f272a;
    padding: 70px;
    margin-bottom: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
      background-color 0.3s ease;
      border 0.3s ease;
    border: 1px solid transparent; /* Make the border transparent when not hovering */
    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 30px;
    }
  }

  .starsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container {
    position: relative;
  }

  .container.he::before {
    content: "";
    position: absolute;
    right: -40px; /* Move the triangle outside the container */
    top: 50%; /* Center the triangle vertically */
    transform: translateY(-50%) scaleX(-1);
    width: 0;
    height: 0;
    border-top: 40px solid transparent; /* Adjust this value to change the size of the triangle */
    border-bottom: 40px solid transparent; /* Adjust this value to change the size of the triangle */
    border-right: 40px solid transparent; /* Make the triangle transparent when not hovering */
  }
  .container.en::before {
    content: "";
    position: absolute;
    left: -40px; /* Move the triangle outside the container */
    top: 50%; /* Center the triangle vertically */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 40px solid transparent; /* Adjust this value to change the size of the triangle */
    border-bottom: 40px solid transparent; /* Adjust this value to change the size of the triangle */
    border-right: 40px solid transparent; /* Make the triangle transparent when not hovering */
  }
  .container:hover::before {
    opacity: 1;
  }

  .container:hover {
    background-color: #1b1f27; /* Replace with your hover color */
  }

  .container:hover::before {
    border-right-color: #1b1f27; /* Replace with your hover color */
  }

  .image-container {
    width: 200px;
    height: 256px;
    border-radius: 8px;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  article[style*="direction: rtl"] .container::before {
    left: auto;
    right: -40px;
    transform: translateY(-50%) scaleX(-1);
  }
  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }
  span {
    font-weight: 300;
  }
</style>
