---
import Javaia from "../../javaia.png";
import RealCover from "../../RealCover.jpg";
import Resilense from "../../Resilense.png";
import TalentTech from "../../TalentTech.jpeg";
import { Image } from "astro:assets";
interface Props {
  picture?: string;
  name: string;
  description?: string;
  github?: string;
  url?: string;
  class?: string;
  iframe?: string;
  toggleIframe?: string;
  link?: string;
  language?: string;
}

const {
  iframe,
  picture,
  name,
  description,
  github,
  url,
  class: className,
  language,
} = Astro.props;
---

<a href={language === "he" ? `/he/portfolio/${name}` : `/portfolio/${name}`}>
  <div class={`container ${className}`} id={name}>
    <h3 class="card-name" id="plus">+</h3>
    <h4 class="card-name">{name}</h4>
    <span class="span-name">{description}</span>
    <div class="background-container">
      {
        name === "Real Cover" && (
          <img src={picture} alt={name} class="cover-image" />
        )
      }
      {
        name === "Javaia" && (
          <img src={picture} alt={name} class="cover-image" />
        )
      }
      {
        name === "Resi-Lense" && (
          <img src={picture} alt={name} class="cover-image" />
        )
      }
      {
        name === "Talent Tech Hub" && (
          <img src={picture} alt={name} class="cover-image" />
        )
      }
      {
        name === "Conectemos" && (
          <img src={picture} alt={name} class="cover-image" />
        )
      }
      {
        name === "Rather Labs" && (
          <img src={picture} alt={name} class="cover-image" />
        )
      }
      {
        name === "Trinka" && (
          <img src={picture} alt={name} class="cover-image" />
        )
      }
    </div>
  </div>
</a>

<style>
  .container {
    position: relative;
    background-color: #3a1fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .container.taller {
    height: 393px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
  }
  .container.smaller {
    height: 343px;
    border-radius: 8px;
    width: 100%;
  }
  #plus {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .background-container {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }

  .background-container:hover {
    opacity: 0;
    cursor: pointer;
  }
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-name {
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }

  .container:hover .card-name {
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
  }

  .span-name {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    margin-top: -1rem;
  }

  .container:hover .span-name {
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
  }

  span {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 1rem;
    color: white;
    text-decoration: none;
  }
  h3 {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: -4rem;
    color: white;
    text-decoration: none;
  }
  h4 {
    color: white;
  }
  a {
    text-decoration: none;
  }
</style>
